p, span, li, div {
	color: #EEEEEE;
	line-height: 36px;
	font-size: 24px;
}

h1, h2, h3, h4, strong {
	color: rgba(252,211,77,.9) !important;
}

h1, h2 {
	margin-bottom: 2rem;
}

h3, h4 {
	margin-bottom: 1.5rem;
}

.services li.item {
	display: flex;
	justify-content: space-between;
	/*margin-bottom: 25px;*/
}

.services li.top-line {
	display: block;
	width: 50%;
	border-bottom: 1px solid rgba(252,211,77,.9);
}

.services li.item .check-wrapper {
	margin-top: 0 !important;	
	align-self: normal;
}

.services li.item .price {
	/*font-weight: 800;
	font-size: 30px;*/
}

.social-links a {
	font-size: 0;
}

.social-links a::before {
	background-size: cover;
	content: "";
	display: inline-block;
	background-position: center;
	width: 128px;
	height: 128px;	
	transition: background-image .2s ease-in-out;
}

.social-links .instagram a::before {
	background-image: url("../images/instagram-inactive.svg");
}

.social-links .facebook a::before {
	background-image: url("../images/facebook-inactive.svg");
	width: 123px;
	height: 123px;	
}

.social-links .instagram:hover a::before {
	background-image: url("../images/instagram-active.svg");
}

.social-links .facebook:hover a::before {
	background-image: url("../images/facebook-active.svg");
}


/*Checkboxes*/

input[type=checkbox] + label {
  position: absolute;
  width: 50px;
  height: 50px;
  border: 8px solid rgba(200, 200, 200, .8);
  border-radius: 100%;
  /*top: -15%;*/
  left: 0;
  transition: all ease-out 200ms;
  text-indent: 115px;
  white-space: nowrap;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
input[type=checkbox] + label:after {
  content: "";
  position: absolute;
  width: 0px;
  height: 20px;
  border-bottom: 8px solid rgba(252,211,77,1);
  border-left: 8px solid rgba(252,211,77,1);
  top: 25%;
  left: 50%;
  transform-origin: bottom left;
  transform: rotate(-45deg);
  opacity: 0;
  transition: all ease-out 200ms;
}

input[type=checkbox]:checked + label {
  border: 10px solid rgba(252,211,77,1);
}
input[type=checkbox]:checked + label:after {
  opacity: 1;
  width: 70px;
}
.check-wrapper {
	position: relative;
}
.check-wrapper input {
  display: none;
}

.real-label {
	display: inline-block;
}

